.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    background-color: var(--background-color);
    margin: 10px;
    border-radius: 8px;
}

.header__menu-button {
    border: none;
    border: 2px solid var(--icon-color);
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    left: 20px;
    top: 48px;
}

.header__menu-button:focus {
    outline: 2px solid white;
    border: 2px solid var(--text-color);
}

.header__menu-button:hover {
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.header__menu-icon {
    color: var(--icon-color);
}

.header__menu-icon:hover {
    color: var(--text-color);
}

.header__menu-icon:focus {
    color: var(--text-color);
}

h1 {
    margin: 10px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--header-font);
}

.logo {
    width: 60px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: relative;
}

.logo__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.logo__tail {
    position: absolute;
    left: 32px;
    top: 65px;
    width: 37px;
    height: 4px;
    background-color: var(--text-color);
    transform: rotate(45deg);
}