header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: red;
}

h1 {
    width: 300px;
    border-bottom: 2px solid grey;
    text-align: center;
}