    label {
        margin-bottom: 0px;
    }
    
    .nav-item {
        width: 200px;
        margin: 50px;
        position: relative;
    }
    
    .nav-link:focus {
        outline: 2px solid white;
    }
    
    .nav-link {
        color: var(--background-color);
        border-bottom: 1px solid var(--background-color);
        font-family: 'Playfair Display';
        font-size: 30px;
        margin-left: 20px;
    }
    
    #icon-menu {
        position: absolute;
        bottom: 14px;
        font-size: 34px;
    }
    
    .Sidebar {
        width: 300px;
        background-color: var(--text-color);
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        box-shadow: 7px 0px 17px 0px rgba(0, 0, 0, 0.75);
        transform: translateX(0);
        transition: all 0.2s linear;
        z-index: 99;
        border-bottom-right-radius: 30px;
    }
    
    .Sidebar--closed {
        box-shadow: none;
        transform: translateX(-200px);
        visibility: hidden;
    }
    
    .Sidebar__mask {
        background-color: rgba(0, 0, 0, 0.4);
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        height: 100%;
        box-sizing: border-box;
    }
    
    .Sidebar__mask:focus-within {
        box-shadow: inset 0px 0px 0px 4px white;
        box-sizing: border-box;
    }
    
    .Sidebar__mask-button {
        border: none;
        width: 1px;
        height: 1px;
        margin-left: -20px;
    }